/*http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/*/
/*http://alistapart.com/article/conflictingabsolutepositions*/
/*http://alistapart.com/article/conflictingabsolutepositions*/
/*http://jsfiddle.net/WsXP6/68/*/
html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}
nav {    
    background-color: #bdbdbd;  
    position: absolute;    
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 22%;
    min-width: 250px;
    height: 100%; 
}
header {
    height: 33%;
}
.nav-header {
    background-color: #1b5e20; 
    padding: 10px;
}
.main-header {
    background-color: #388e3c; 
    position: fixed;
    width: 78%
}
main {
    padding: 0;
    margin: 0;
    position: absolute;    
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    width: 78%;    
}
article {
    background-color: white;
    min-height: 300px;
    /*width: 85%;*/
    width: 500px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;    
    position:relative;
}
.article--first {
    margin-top: 10%;
}
.newpost--wrapper {
    position: fixed;
    right: 3%;
    top: 33%;
    z-index: 4;
}
.newpost--button {
    position: relative;
    bottom: 26px;
}
.login-form {
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}