<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Analytics Campaign Insight Metrics Marketing mix optimization roi forecasting data science">
    <title>QuantClarity | Performance marketing analytics | marketing mix optimization</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#303F9F">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/materialize/dist/css/materialize.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
</head>

<body id="csstyle">
    {% block app %}
    <div class="pure-container" data-effect="pure-effect-fall">
        <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left" />
        <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left"><span class="pure-toggle-icon"></span>
        </label>

        <nav class="pure-drawer" data-position="left">
            <p style="padding: 100px 20px; margin: 0; color: white;">Insert your off-canvas content here</p>
        </nav>

        <div class="pure-pusher-container">
            <div class="pure-pusher">
                <p style="width: 300px; margin: 100px auto;">Insert your main content here</p>
                {% block content %}{% endblock %}
            </div>
        </div>

        <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
    </div>
    {% endblock app %}
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/materialize/dist/js/materialize.js') }}"></script>
</body>

</html>
