/*http://alistapart.com/article/conflictingabsolutepositions*/
/*http://jsfiddle.net/WsXP6/68/*/

html {
  overflow: hidden;
}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
nav {    
  background-color: #bdbdbd;  
  padding: 0;
  margin: 0;
  position: absolute;    
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: auto;    
  width: 25%;
  height: 100%; 
}
header {
    background: #388e3c;
    height: 67%;
    position: fixed;
    width: 100%
}
main {
  background: #e0e0e0;    
  padding: 0;
  margin: 0;
  position: absolute;    
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  width: 75%;
}
article {
    background: white;
    height: 350px;
    max-width: 800px;
    width: 85%;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: 3%;
    border-radius: 3px;    
    position:relative;
}
