// use placeholder vs. classes for @extendes
%z-depth-1{
    @include box-shadow-2(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));
}
%z-depth-1-half{
    @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}
%z-depth-2{
    @include box-shadow-2(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}
%z-depth-3{
    @include box-shadow-2(0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19));
}
%z-depth-4{
    @include box-shadow-2(0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21));
}
%z-depth-5{
    @include box-shadow-2(0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22));
}

// Media Query Ranges
$xlarge-screen: 1440px;
$large-screen-up: 1201px;
$large-screen: 1200px;
$medium-screen-up: 993px;
$medium-screen: 992px;
$small-screen-up: 601px;
$small-screen: 600px; 

//  Media queries
$xlarge-and-up: "only screen and (min-width : #{$large-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$large-only: "only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})";
$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$small-and-down: "only screen and (max-width : #{$small-screen})";

// Media Query Map
$bpoints: (
    'xlarge-and-up'   : $xlarge-and-up,
    'large-and-up'    : $large-and-up,
    'large-only'      : $large-only,
    'medium-and-up'   : $medium-and-up,
    'medium-only'     : $medium-only,
    'medium-and-down' : $medium-and-down,
    'small-and-down'  : $small-and-down
);

// media query 'respond' mixin
@mixin respond($name) {
  // If the key exists in the map
  @if map-has-key($bpoints, $name) {
    // Prints a media query based on the value
    @media #{map-get($bpoints, $name)} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    // Just warn the user
    @warn "Unfortunately, no value could be retrieved from `#{$name}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

/*** Colors ***/
$primary-color: color("teal", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$secondary-color: color("teal", "darken-1") !default;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;
// $link-color: $secondary-color;

/*** Badges ***/
$badge-bg-color: $secondary-color;

/*** Buttons ***/
$button-bg-color-disabled: #DFDFDF !default;
$button-color: $secondary-color !default;
$button-color-disabled: #9F9F9F !default;
$button-color-flat: #343434 !default;
$button-color-raised: #FFF !default;
$button-floating-size: 37px !default;
$button-height: 36px !default;
$button-font-size-shared: 1.3rem !default;
$button-line-height: 36px !default;


/*** Cards ***/
$card-padding: 20px !default;
$card-bg-color: #fff !default;

/*** Collapsible ***/
$collapsible-height: 3rem !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;


/*** Dropdown ***/
$dropdown-color: $secondary-color;


/*** Forms ***/
// Text Inputs + Textarea
$input-border-color: color("grey", "base") !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $secondary-color !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;


// Radio Buttons
$radio-fill-color: $secondary-color !default;
$radio-empty-color: #5a5a5a !default;

/*** Global ***/

// Grid Variables
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

/*** Navbar ***/
$navbar-height: 64px !default;
$navbar-height-mobile: 56px !default;


/*** SideNav ***/



/*** Tabs ***/
$tabs-underline-color: $primary-color-light;
$tabs-text-color: $primary-color;

/*** Tables ***/
$table-border-color: #d0d0d0;
$table-striped-color: #f2f2f2;

/*** Toasts ***/
$toast-height: 48px !default;
$toast-color: #323232 !default;
$toast-text-color: #fff !default;

/*** Typography ***/
$off-black: rgba(0, 0, 0, 0.87) !default;
// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

// Flowtext
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

/*** Collections ***/
$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $secondary-color !default;
$collection-active-color: lighten($secondary-color, 55%) !default;
$collection-hover-bg-color: rgba(0,0,0,.08) !default;

/* Progress Bar */
$progress-bar-color: $secondary-color;

