html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.app {
    display: table;
    height: 100%;
    width: 100%;
}

%brand {
    font-family: "Quicksand";
    font-weight: 700;
    letter-spacing: -4px;
    span {
        font-weight: 300;
        letter-spacing: -3px;
    }
    background-color: map-get($flatui, 'grey-1');
    color: map-get($flatui, 'green-dark');
    vertical-align: center;
    text-align: center;
}

@include component(header) {
    @extend %z-depth-1;
    z-index: 3;
    @extend %brand;
    font-size: 2.5em;
    display: table-row;
    position: fixed;
    width: 100%;
    span {
        font-weight: 300;
        letter-spacing: -3px;
    }
}
@include component(main) {
    display: table;
    height: 100%;
    width: 100%;
    @include part(sidebar) {
        background: map-get($flatui, 'grey-2');
        display: table-cell;
        z-index: 1;
        width: 4em;
        @include respond('large-and-up') {
            width: 14em;
        }
        ul {
            display: table;
            margin-top: 2em;
            padding-left: .3em;
            font-size: 2.5em;
            position: fixed;
        }
    }
    @include part(content) {
        background-color: map-get($flatui, 'green-dark');
        display: table-cell;
        @extend %z-depth-1;
        z-index: 2;
    }
    @include part(footer) {
        background: map-get($flatui, 'grey-1');
        @extend %brand;
        font-size: 1.5em;
        @extend %z-depth-1;
        z-index: 3;
        display: table-row;
        height: 2em;   
    }
}

@include component(paper) {
    background-color: map-get($flatui, 'grey-1');
    @extend %z-depth-1;
    z-index: 2;
    border-radius: 3px;
    padding: 0;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    @include option(first) {
        margin-top: 6rem;
    }
    @include option(filler) {
        height: 200px;
    }
}



// @include component(ptxt) {
//     @include body-content-scale($page-id: 'csstyle', $line-height: 1.25)
// }
// @include component(h4txt) {
//     @include h4-scale()
// }
// @include component(h3txt) {
//     @include h3-scale($line-height: 1.25)
// }
// @include component(h2txt) {
//     @include h2-scale($line-height: 1.25)
// }
// @include component(h1txt) {
//     @include h1-scale($line-height: 1.25)
// }
// @include component(blockquotetxt) {
//     @include blockquote-scale($line-height: 1.25)
// }
