html, body {
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

$header_height: 10 rem;

@include component(main) {
    background-color: color('green','lighten-1');
    @extend %z-depth-1-half;
    z-index: 2;
    position: absolute;    
    overflow: auto;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    @include respond('medium-only') {
        width: 70%;
    }
    @include respond('large-and-up') {
        width: 75%;
    }
    @include part(header) {
        background-color: color('green','darken-2');
        height: $header_height;
    }
}

@include component(sidenav) {
    background-color: color('blue','lighten-1');
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0;
    margin: 0;
    width: 0;
    @include respond('medium-only') {
        width: 30%;
    }
    @include respond('large-and-up') {
        width: 25%;
    }
    @include part(header) {
        background-color: color('blue','darken-2');
        height: $header_height;
    }
}


@include component(paper) {
    background-color: color('grey','lighten-3');
    @extend %z-depth-1-half;
    z-index: 2;
    border-radius: 3px;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 96%;
    @include respond('medium-only') {
        width: 92%;
    }
    @include respond('large-and-up') {
        width: 85%;
        max-width: 60em;
        max-width: 45em;
    }
    @include option(first) {
        margin-top: 4em;
    }
    @include option(filler-short) {
        height: 60px;
    }
    @include option(filler-med) {
        height: 120px;
    }
    @include option(filler-long) {
        height: 300px;
    }
}

@include component(newpost) {
    position: fixed;
    left: 1em;
    top: 3em;
    z-index: 4;
    @include part(button) {
        position: relative;
        bottom: 26px;
        @include respond('medium-and-up') {
            display: none;
        }
    }
}

// @include component(ptxt) {
//     @include body-content-scale($page-id: 'csstyle', $line-height: 1.25)
// }
// @include component(h4txt) {
//     @include h4-scale()
// }
// @include component(h3txt) {
//     @include h3-scale($line-height: 1.25)
// }
// @include component(h2txt) {
//     @include h2-scale($line-height: 1.25)
// }
// @include component(h1txt) {
//     @include h1-scale($line-height: 1.25)
// }
// @include component(blockquotetxt) {
//     @include blockquote-scale($line-height: 1.25)
// }
