<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Analytics Campaign Insight Metrics Marketing mix optimization roi forecasting data science">
    <title>QuantClarity | Performance marketing analytics | marketing mix optimization</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#303F9F">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <!-- Railway - Sans -->
    <!-- <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/Raleway:300,300i,400,400i,500,500,600,600,700,900,900"> -->
    <!--  - Serif -->
    <!-- <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/:400,400i,500,500i,700,700i"> -->
    <!-- Latin Modern - Mono -->
    <!-- <link rel="stylesheet" href="http://brick.a.ssl.fastly.net/Latin+Modern+Mono:300,400,700"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/materialize/dist/css/materialize.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
</head>

<body id="csstyle">
    {% block app %}
    <div class="sidenav"> 
        <div class="sidenav__header">
            <h2>Side Header</h2>
        </div>
    </div>

    <div class="main">
        <div class="main__header">{% block header %}QuantClarity / {% endblock %}</div>
        {% block content %}{% endblock %}
        <div class="main__footer">QuantClarity @ 2015</div>
    </div>

    {% endblock app %}
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/materialize/dist/js/materialize.js') }}"></script>
</body>

</html>
