{% extends "matgirl/base.html" %}

{% block header %}
{{ super() }}
Cards
{% endblock %}

{% block content %}
<div class="newpost">
	<a class="newpost__button btn-floating btn-large waves-effect waves-light red"><i class="mdi-navigation-menu"></i></a>	
</div>

<div class="paper --first --filler-med">Hi.</div>
<div class="paper --filler-short">Paper</div>
<div class="paper --filler-long">Paper</div>
<div class="paper --filler-med">Paper</div>
<div class="paper --filler-short">Paper</div>
<div class="paper --filler-med">Paper</div>
<div class="paper --filler-long">Paper</div>

{% endblock %}