{% extends "matgirl/materalize_base.html" %}

{% block content %}
<div class="newpost--wrapper">
	<a class="newpost--button btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a>	
</div>

<article class="article--first z-depth-1"></article>
<article class="z-depth-1"></article>
<article class="z-depth-1"></article>
<article class="z-depth-1"></article>
<article class="z-depth-1"></article>
<article class="z-depth-1"></article>
<article class="z-depth-1"></article>

{% endblock %}