{% extends "matgirl/base.html" %} 

{% block content %}
<article class="paper --first container section">
    <div class="login">
        <h3>Login</h3>
        <div class="divider"></div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <form method="POST" role="form" class="login-form">
            {{ form.csrf_token }}
            <div class="formwrapper section">
                <div class="input-field">
                    <i class="mdi-communication-email prefix"></i> 
                    {{ form.email.label }} {{ form.email(class="validate") }}
                </div>
                <div class="input-field">
                    <i class="mdi-communication-vpn-key prefix"></i>
                    {{ form.password.label }} {{ form.password(class="validate") }}
                </div>
                <div class="input-field right">
                    {{ form.remember_me(type="checkbox") }} {{ form.remember_me.label }}
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </form>
        <br>
        <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
        <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    </div>
</article>
{% endblock %}
